<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
            <h1> login </h1>
            <div class="border-primary">
                <p>login here!</p>

                    <div class="mb-3">
                        <input type="text" placeholder="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <input type="password" placeholder="password" class="form-control">
                    </div>
                <input type="submit">
            </div>
        </div>
         <div class="col-4"></div>
    </div>

</div>


</body>
</html>